<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8">
          <div class="form-style-5">
             <div class="form-group">
                <input id="name" name="name" class="form-control"
                required minlength="4" appForbiddenName="bob"
                [(ngModel)]="data.name" #name="ngModel" placeholder="Input Type Text *"/>
             </div>
             <input type="email" id="email" name="email" required
             [(ngModel)]="data.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             placeholder="Input Type Email *">
             <input type="text" name="number" placeholder="Input Type Number *" required [(ngModel)]="data.number"
             #number="ngModel" pattern="[0-9]" placeholder="Input Type Number" minlength="10">
             <input type="password" name="password" placeholder="Input Type password *" required [(ngModel)]="data.password"
             #password="ngModel" pattern="[a-z0-9A-Z!@#$%^&*]" placeholder="Password" minlength="8">
             <div>{{ password?.value }}</div>
             <input type="checkbox" name="checkbox" required [(ngModel)]="data.checkbox" #checkbox="ngModel"> checkbox1
             <br><br>
             <input type="radio" name="radio" required [(ngModel)]="data.radio" #radio="ngModel"> Radio1
             <!--     
                <select id="job" name="field4"> 
                  <option value="fishkeeping">Fishkeeping</option>
                  <option value="reading">Reading</option>
                </select>
                
                <textarea name="field3" placeholder="Input Type Text area"></textarea>
                
                <input type="checkbox" name="chk1"> checkbox1
                <input type="checkbox" name="chk2"> checkbox2
                
                <input type="radio" name="rdo2"> Radio2 -->
             <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="f.form.pristine || f.form.invalid"
                (ngSubmit)="f.form.valid && onSubmit()">Add</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 mt-4" style="    top: 0;
       right: 0;
       position: absolute;">
          <div class="form-group">
             <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="alert alert-danger">
                <div *ngIf="name.errors.required">
                   Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                   Name must be at least 4 characters long.
                </div>
                <div *ngIf="name.errors.forbiddenName">
                   Name cannot be Bob.
                </div>
             </div>
             <div *ngIf="email.invalid && (email.dirty || email.touched || email.pattern)" class="alert alert-danger">
                <div *ngIf="email.errors.required">
                   Email is required.
                </div>
                <div *ngIf="email.errors.pattern">
                   Invalid Email pattern.
                </div>
             </div>
             <div *ngIf="number.invalid && (number.dirty || number.touched || number.pattern)" class="alert alert-danger">
                <div *ngIf="number.errors.required">
                   number is required.
                </div>
                <div *ngIf="number.errors.pattern">
                   Invalid Number pattern.
                </div>
                <div *ngIf="number.errors.minlength">
                   Number must be at least 10 Digits long.
                </div>
             </div>
             <div *ngIf="password.invalid && (password.dirty || password.touched || password.pattern)" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                   password is required.
                </div>
                <div *ngIf="password.errors.pattern">
                   Invalid password pattern.
                </div>
                <div *ngIf="password.errors.minlength">
                   password must be at least 8 Digits long.
                </div>
             </div>
             <div *ngIf="checkbox.invalid && (checkbox.dirty || checkbox.touched)" class="alert alert-danger">
                <div *ngIf="checkbox.errors.required">
                   checkbox is required.
                </div>
             </div>
             <div *ngIf="radio.invalid && (radio.dirty || radio.touched)" class="alert alert-danger">
                <div *ngIf="radio.errors.required">
                   radio is required.
                </div>
             </div>
          </div>
       </div>
    </div>
    </form>