<div class="container">
  <div class="row">
      <div class="col-md-2"></div>
    <div class="col-md-8">
      <span (click)="addNewPost()" class="btn btn-primary btn-xs">Add New Post</span>
      <br /><br />
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Post Id</th>
            <th>Title</th>
            <th>Description</th>
            <!-- <th>Category</th>
            <th>Create Date</th>             -->
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of postList, let id = index">
              <td *ngIf="id<5">{{item.id}}</td>
              <td *ngIf="id<5">{{item.title}}</td>
              <td *ngIf="id<5">{{item.body}}</td>
              <!-- <td>{{item.categoryName}}</td>              
              <td>{{item.createdDate | date}}</td>  -->
              <td *ngIf="id<5"><span class="btn btn-primary btn-xs" (click)="editPost(item.id)">
                  <span class="fa fa-pencil"></span></span></td>
              <td *ngIf="id<5"><span class="btn btn-danger btn-xs" (click)="deletePost(item.id, item.title)">
                  <span class="fa fa-trash"></span></span></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>