<div class="container">
    <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8">
          <div class="card">
             <div class="row">
                  <div class="col-md-12">
                <label>Check the Output in console (Ctrl+Shift+I)</label>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test1()">Show Array</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test2()">Array length</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test3()">Array Push</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test4()">Array Pop</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test5()">Array Shift</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test6()">Array Reverse</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test7()">Array Sort</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test8()">Array concat</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test9()">Array slice</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test10()">Array every</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test11()">some</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test12()">filter</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test13()">for each</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test14()">map</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test15()">reduce</button>
                  <button class="btn btn-sm btn-info mr-2 mb-2" (click)="test16()">reduceRight</button>
             </div>
             </div>
          </div>
       </div>
    </div>
 </div>