<div class="todos">
    <div>
       <div class="container">
          <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                <div class="card">
                   <form (submit)="addTodo($event)">
                      <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo">
                      <button class="btn btn-info" type="submit" [disabled]="newTodo===''">Add Todo</button>
                   </form>
                   <div [hidden]="newTodo">
                      Type in a new todo...
                   </div>
                   <div [hidden]="!newTodo">
                      <!-- Another two-way binding example -->
                      Typing: {{ newTodo }}
                   </div>
                   <ul style="list-style: none">
                      <li *ngFor="let todo of todos; let i=index">
                         <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" />
                         <span [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
                         <span (click)="deleteTodo(i)" class="delete-icon">[X]</span>
                      </li>
                   </ul>
                   <div class="mtop20">
                      <button class="btn btn-danger" (click)="deleteSelectedTodos()">Delete Selected</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>