<div class="container">
    <div class="row top">
       <div class="col-md-12">
          <label>"ANYONE WHO STOPS LEARNING IS OLD, WHETHER AT TWENTY OR EIGHTY :)"</label>
          <div class="table-responsive">
             <table class="table table-bordered table-condensed">
                <tbody>
                   <tr>
                        <td><a routerLink="data-binding"><button type="button" class="btn btn-sm btn-info">Data Binding</button></a></td>
                      
                      <td><a routerLink="newFile"><button type="button" class="btn btn-sm btn-info">Form Validation</button></a></td>
                      <td><a routerLink="filter"><button type="button" class="btn btn-sm btn-info">Data Filter</button></a></td>
                      <td><a routerLink="history"><button type="button" class="btn btn-sm btn-info">OnClick show row data</button></a></td>
                      <td><a routerLink="todo"><button type="button" class="btn btn-sm btn-info">Todo</button></a></td>
                      <td><a routerLink="drag"><button type="button" class="btn btn-sm btn-info">Drag and Drop</button></a></td>
                   </tr>
                   <tr>
                      <td><a routerLink="io"><button type="button" class="btn btn-sm btn-info">Input and Output</button></a></td>
                      <td><a routerLink="form"><button type="button" class="btn btn-sm btn-info">Show and Edit Form</button></a></td>
                      <td><a routerLink="api"><button type="button" class="btn btn-sm btn-info">Get API</button></a></td>
                      <td><a routerLink="progress"><button type="button" class="btn btn-sm btn-info">Progress bar</button></a></td>
                      <td><a routerLink="switch"><button type="button" class="btn btn-sm btn-info">Switch</button></a></td>
                      <td><a routerLink="modalCon"><button type="button" class="btn btn-sm btn-info">Modal 2 Component</button></a></td>
                   </tr>
                   <tr>
                      <td><a routerLink="search"><button type="button" class="btn btn-sm btn-info">Search</button></a></td>
                      <td><a routerLink="file"><button type="button" class="btn btn-sm btn-info">Choose File</button></a></td>
                      <td><a routerLink="table"><button type="button" class="btn btn-sm btn-info">Table</button></a></td>
                      <td><a routerLink="mail"><button type="button" class="btn btn-sm btn-info">Mail</button></a></td>
                      <td><a routerLink="array"><button type="button" class="btn btn-sm btn-info">Array - Obj</button></a></td>
                      <td><a routerLink="oo"><button type="button" class="btn btn-sm btn-info">Example Directive</button></a></td>
                      <!-- <td><a routerLink="post"><button type="button" class="btn btn-sm btn-info">Post</button></a></td> -->
                   </tr>
                   <tr>
                        <td><a routerLink="reactiveForm"><button type="button" class="btn btn-sm btn-info">Reactive Form</button></a></td>
                        <td><a routerLink="loader"><button type="button" class="btn btn-sm btn-info">Loader</button></a></td>
                        <td><a routerLink="pagination"><button type="button" class="btn btn-sm btn-info">Pagination</button></a></td>
                        <td><a routerLink="two"><button type="button" class="btn btn-sm btn-info">Child to Parent</button></a></td>
                        <td><a routerLink="fun"><button type="button" class="btn btn-sm btn-info">Add Delete Update</button></a></td>  
                        
                   </tr>
                <tbody>  
             </table>
          </div>
       </div>
    </div>
 </div>